@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


#community{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 2rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    top: -5rem;
}
